.active {
    padding: 0 20px 0 0;
}
.sidebar {
    height: 100%;
}
.sidebar__generic {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    border: 1px solid pink;
}